{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/extra-libs/multicheck/multicheck.css' %}">
<link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="form-container">
        <form class="details-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label medium-form">
                {% if field.field.widget.input_type == 'file' or field.field.widget.input_type == 'checkbox' or field.field.widget.input_type == 'select' %}<label class="mt-mb-2 label">{{field.label}}</label>{% endif %}
                {% if field.value.url %}
                <span class="current-image btn default btn-outline">Current File:</span><a class="btn default btn-outline image-popup-vertical-fit el-link view" href="{{field.value.url}}">{{field.value}}</a>
                {% endif %}
                <span class="{% if field.field.widget.input_type == 'checkbox' %} checkbox-scroll {% endif %}">
                {{field}}
                </span>
                {% if field.field.widget.input_type != 'file' and field.field.widget.input_type != 'checkbox' and field.field.widget.input_type != 'select' %}<label class="mdl-textfield__label label" for="{{field.id_for_label}}">{{field.label}}</label>{% endif %}
            </div>
            {% endfor %}
            {% if error %}
            <div class="oaerror warning">
                <strong>Error</strong> - {{error}}
            </div>
            {% endif %}
            <div class="right">
            <button class="mdl-button mdl-js-button mdl-button--raised next-button" type="submit">SAVE</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %} "></script>
{% endblock %}