.company-logo{
    width: 136px;
    padding-top: 12px;
    margin-left: 12px;
}
.view{
    color: rgb(29, 162, 195);
    font-weight: 600;
}
.view:hover{
    color: rgb(18, 127, 155);
}
.detail_page_image{
    padding-top: 12px;
    background-color: white;
}
.detail_image_size img{
    max-height: 400px !important;
    width: auto !important;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto !important;
    overflow: hidden;
}
.table-padding{
    width: calc(100% - 82px);
    margin: 0 auto;
}
.bread-link{
    font-weight: 700;
    color: teal;
}
.bread-link:hover{
    color: rgb(16, 102, 102);
}
.bread-current{
    font-weight: 600;
    color: #424453;
}
.bread-white{
    background-color: white;
    padding-bottom: 14px;
}
.table-title{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 20px;
}
.next-button{
    text-transform: none !important;
    font-weight: 600 !important;
    color: white !important;
    background-color: #3e5569 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.medium-form ul li{
    list-style-type: none !important;
}
.details-form{
    padding: 34px 34px;
    background-color: white;
    display: inline-block;
    text-align: left;
}
.medium-form{
    width: 100% !important;
}
.medium-file{
    color: #3e5569 !important;
    font-weight: 600 !important;
}
.right{
    text-align: right;
}
.label{
    font-weight: 600 !important;
    color: #3e5569 !important;
}

.oaerror{
    width:100%;
    background-color: #ffffff;
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius: 3px;
    margin:0 auto;
    margin-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.warning{
    border-left-color: #3e5569;
    background-color: #3e94df1f;
}
  
.warning strong{
    color: #3e5569;
}
.ml-mr-20{
    overflow: hidden;
    margin: 0 20px;
}
.add-button{
    border: none;
    margin-top: 6px;
    margin-bottom: 22px;
    display: inline-block;
    background-color: #3e5569;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 2px;
    font-weight: 600;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.add-button:hover{
    color: white;
    background-color: #2b3f52;
}
.current-image{
    color: #3e5569;
    cursor:context-menu;
    font-weight: 600;
}
.medium-select{
    border: 1px solid #eee;
    width: 100%;
    font-size: 14px;
    color: #3e5569;
    font-weight: 600;
    padding: 6px 6px;
}
.mt-mb-2{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}
.checkbox-scroll{
    display: block;
    max-height: 220px;
    overflow-x: hidden;
}
.checkbox-scroll::-webkit-scrollbar {
    width: 6px;
}
.checkbox-scroll::-webkit-scrollbar-thumb{
    background-color: #677685;
    border-radius: 3px;
}